:host {
	flex: 1;
	display: flex;
}
:host::ng-deep.mat-content {
	align-items: center;
	height: 50px;
}
mat-card {
	margin: 8px;
	padding: 0;
	.mat-card-title {
		margin: 10px 16px;
	}
}
img {
	height: 30px;
	margin: 0 10px 0 0;
}
mat-list-item {
	img {
		height: 15px;
		margin: 0 5px;
	}
}
.main-title {
	font-weight: 300;
	font-size: 25px;
}
mat-icon {
	margin: 2px 8px;
}
.no-users {
	font-style: italic;
}
