<div fxLayout="column" style="padding: 15px 24px;">
  <div fxLayout="column">
    <h1>Welcome</h1>
    <div fxLayout="column" style="padding: 10px;">
      <div>
        To use <strong>Firebase Authentication Addon</strong> for Materia you will need:
      </div>
      <ul style="margin-left: 20px;">
        <li>a Firebase account,</li>
        <li>a Firebase project,</li>
        <li>and a service account's credentials json file.</li>
      </ul>
    </div>
  </div>
  <div>
    <h1>Prerequisites</h1>
    <div fxLayout="column" style="padding: 10px;">
      <div>
        <span class="subtitle">- Get a Firebase account</span>
        <p>If you don't already have a Firebase account:
          <button mat-raised-button color="primary" (click)="openInBrowser.emit('https://firebase.google.com/')">
            SIGNUP TO FIREBASE
          </button>
        </p>
      </div>
      <div>
        <span class="subtitle">- Create a Firebase project</span>
        <p>If you don't already have a Firebase project, add one with the
          <strong>Firebase console</strong>:
          <button mat-raised-button color="primary" (click)="openInBrowser.emit('https://console.firebase.google.com')">GO
            TO FIREBASE CONSOLE</button>
        </p>
      </div>
      <div>
        <span class="subtitle">- Get your Service account credential</span>
        <ul>
          <li>Navigate to the <strong>Service Accounts</strong> tab in your project's settings page:
            <button mat-raised-button color="primary" (click)="openInBrowser.emit('https://console.firebase.google.com/project/_/settings/serviceaccounts/adminsdk')">
              GO TO SERVICE ACCOUNTS TAB
            </button>,
          </li>
          <li>Click the <strong>Generate New Private Key</strong> button at the bottom of the <strong>Firebase Admin SDK</strong>
            section, a JSON file containing your service account's credentials will be downloaded. You
            need this file to initialize the addon.
          </li>
        </ul>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" style="margin-top: 10px;">
        <span class="subtitle" style="margin: 0">- Get your database URL</span>
        &nbsp;(<code [innerHtml]="'https://{ DATABASE_NAME }.firebaseio.com'"></code>)
      </div>
    </div>
  </div>

  <div fxLayout="column">
    <h1>Settings</h1>
    <div fxLayout="column" style="padding: 10px;">
      <div>Once you have a Firebase project and a JSON service accounts's credential
        copy/paste this file in your materia project and fill the settings :
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="openSetup.emit()" [style.margin.px]="10">FILL SETTINGS</button>
      </div>
    </div>
  </div>
</div>