strong {
	color: #262f3d;
}
.subtitle {
	font-weight: 600;
	font-size: 15px;
	margin-top: 10px;
	color: #262f3d;
}
ul {
	margin: 0 8px;
	list-style: circle;
	li {
		margin: 5px 0;
	}
}
.highlight {
	font-weight: 200;
	color: darkred;
	background: lightgray;
	padding: 5px;
}
h1 {
	border-bottom: solid;
	color: #262f3d;
	border-width: 0.5px;
	border-color: #757575;
	font-weight: 600;
	font-size: 18px;
}